<app-cake-new></app-cake-new>
<section style='display: inline-block'>
  <div *ngIf='cakeList' style='max-height:600px;max-width:500px;overflow-y:auto'>
    <div class='indyCake' *ngFor='let curr of cakeList' style='display:inline-block;max-height:400px'>
      <img (click)='displayDetails()' src="{{ curr.url }}" alt="Image of cake by {{ curr.baker }}" style="float:left;width:300px;height:200px;">
      <form (submit)="submitRating($event, cakeRating)" #cakeRating='ngForm'>
        <textarea name="rating.comment" cols="30" rows="10"></textarea>
        <select name='rating.rating' form='ratingForm'>
            <option value="1">1 Star</option>
            <option value="2">2 Stars</option>
            <option value="3">3 Stars</option>
            <option value="4">4 Stars</option>
            <option value="5">5 Stars</option> 
        </select>
        <button style='float:unset'>Rate!</button>
      </form>
    </div>
  </div>
  <div *ngIf='selectedCake'>
      <p>{{ curr.baker }}</p>
  </div>
</section>


