<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
  <body>
    <div class="container">
      <button (click)='onSubmit()'>Get a fucking Pokemon broh!</button>
      <div *ngIf='pokemon'>
        <p>My chosen Pokemon is {{ pokemon.name }}</p>
        <p>Its abilities are:</p>
        <div *ngFor='let power of pokemon.abilities'>
          <li (click)='abilityClick(power.ability.url)'>{{ power.ability.name }}</li>
          <div *ngIf='power.ability.pokemon'>
            <ul *ngFor='let poke of power.ability.pokemon'>{{ poke.pokemon.name }}</ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
