<nav>
  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="seattle">Seattle WA</a>
      <!-- 5809844 -->
      <!-- api.openweathermap.org/data/2.5/weather?id=2172797&appid=65036b8d41536ad067f7d3079698ebcc -->
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="sanjose">San Jose CA</a>
      <!-- 5393021 -->
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="burbank">Burbank CA</a>
      <!-- 5331835 -->
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="dallas">Dallas TX</a>
      <!-- 4684888 -->
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="dc">Washington DC</a>
      <!-- 4366164 -->
    </li>

    <li routerLinkActive="active">
      <a [routerLink]="chicago">Chicago IL</a>
      <!-- 4887398 -->
    </li>

  </ul>
</nav>
 