<app-book-new (createBook)='onCreate($event)'></app-book-new>

<section>
  <table>
    <thead>
      <th>
        <input type="text" placeholder="ID"  [(ngModel)]='filter.id'>
        <button *ngIf='filter.id' (click)='filter.id = null' class='clear'>x</button>
      </th>
      <th>
        <input type="text" placeholder="Title"  [(ngModel)]='filter.title'>
        <button *ngIf='filter.title' (click)='filter.title = null' class='clear'>x</button>
      </th>
      <th>
        <input type="text" placeholder="Author"  [(ngModel)]='filter.author'>
        <button *ngIf='filter.author' (click)='filter.author = null' class='clear'>x</button>
      </th>
      <th>
        <input type="text" placeholder="Year"  [(ngModel)]='filter.year'>
        <button *ngIf='filter.year' (click)='filter.year = null' class='clear'>x</button>
      </th>
      <th>
        Actions
        <button (click)='clearFilter()' *ngIf='filter.id || filter.title || filter.author || filter.year' class='clear'>x</button>
      </th>
    </thead>
    <tbody>
      <tr *ngFor='let book of books | search:filter' (click)='onSelect(book)'>
        <td>{{ book.id }}</td>
        <td>{{ book.title | search }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.year }}</td>
        <td>Future Actions</td>
      </tr>
    </tbody>
  </table>
</section>

<app-book-detail [book]='selectedBook'></app-book-detail>
