<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Show Puppy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Meet <%= dog.name %></h1>
        <ul>
            <li>Name: <%= dog.name %></li>
            <li>Fur Color: <%= dog.fur_color %></li>
        </ul>
        <a href="/puppies/edit/<%= dog._id %>">Edit Puppy</a>
        <a href="/">Go Home</a>
    </div>
</body>
</html>